<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.hol.a4ongs.a4fire">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Principal"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".situacao" />
        <activity android:name=".relatorios" />
        <activity android:name=".meteorologia" />
        <activity android:name=".umkilometro" />
        <activity android:name=".trintam" />
        <activity android:name=".geral" />
        <activity android:name=".inpe" />
        <activity android:name=".forOngs"></activity>
    </application>

</manifest>